html {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* colors */
  --logo-text-color: #4d5ae5;
  --button-backgroud: #f4f4fd;
  --color-txt: #2e2f42;
  --color-txt-body: #434455;
  --color-back: #ffffff;
  --color-icon-hover: #31d0aa;
  --bg-color-darkblue-hover: #404bbf;
  --color-customer-icon: #8e8f99;
  /* others */
  --indent: 24px;
  --items: 9;

  --anim-fast: 300ms ease;
  --anim-slow: 800ms ease;

  --header-idx: 10;
  --modal-idx: 100;
}

.body {
  font-family: "Roboto", sans-serif;

  background-color: var(--color-back);
  color: var(--color-txt-body);
}

/* BASE STYLE */

/* base style */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav-link.active {
  color: var(--bg-color-darkblue-hover);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header {
  /* max-width: 1440px;
  margin-left: auto;
  margin-right: auto; */

  position: fixed;
  top: 0;

  z-index: var(--header-idx);

  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-txt);
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  /* background-color: #404BBF; */
}

/* .....ACTIVE.......*/
.header-nav-link.active {
  color: #404bbf;
}

.header-nav-link.active::after {
  background-color: #404bbf;
}
/* ................ */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-text-color);

  margin-right: 76px;
}
.header-logo-studio {
  color: var(--color-txt);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-item {
  font-style: normal;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-address-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-address {
  font-style: normal;
}
.header-address-mail {
  margin-right: 40px;
}

/* Section Hero */
.hero-container {

}

.hero {
  background-color: var(--color-txt);
  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;
  padding: 251px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  max-width: 496px;
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  color: #ffffff;

  min-width: 169px;
  height: 56px;

  display: block;
  background-color: #4d5ae5;
  font-family: inherit;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-color-darkblue-hover);
}

/* section One Feature */
.features {
  align-items: center;
  padding: 0 15px;
}
.feature-section {
  padding: 120px 0;
}

.one-section-content-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 8px;
}
.one-section-text {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.one-section-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}
.one-section-item {
  flex-basis: calc((100% - 72px) / 4);
}
/* FEATURE ICONS */

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border-radius: 4px;

  height: 112px;
  margin-bottom: 8px;
}
.feature-icon {
  display: flex;
  justify-content: center;
}

/* section Two What are we doing */
.awd-container {
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}

.two-section {
  padding-bottom: 120px;
}
.two-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 72px;
}
.two-section-list {
  display: flex;
  gap: 24px;
}
.two-section-item {
  flex-basis: calc((100% - 48px) / 3);
}
/* section Three Our Team */
.ot-container {
  align-items: center;
}

.three-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.three-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 72px;
}
.three-section-list {
  display: flex;
  gap: 24px;
  text-align: center;
}
.three-section-item {
  background-color: #ffffff;

  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
}

.three-section-title-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 8px;
}
.three-section-pro {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 8px;
}

.pro-container {
  padding: 32px 0;
}
/* PRO ICONS */

.pro-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pro-icons-item {
}

.pro-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--logo-text-color);
  border-radius: 50%;
  color: var(--button-backgroud);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ot-icons {
  fill: currentColor;
}

.pro-icons-link:hover,
.pro-icons-link:focus {
  background-color: var(--bg-color-darkblue-hover);
}

/* Four Section Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.four-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 72px;
}
/* CUSTOMERS ICONS */

.custom-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.custom-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.custom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--color-customer-icon);
  border-radius: 4px;
  color: var(--color-customer-icon);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-icon {
  fill: currentColor;
}

.custom-link:hover,
.custom-link:focus {
  border: 1px solid var(--bg-color-darkblue-hover);
  color: var(--bg-color-darkblue-hover);
}

/* FOOTER */
.all-footer {
  display: flex;
  align-items: baseline;
}
.foot-container {
  display: inline-block;
  align-items: center;
  margin-right: 120px;
}
.social-container {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.footer {
  background-color: var(--color-txt);
  padding: 100px 0;
  /* max-width: 1440px;
  margin-left: auto;
  margin-right: auto; */
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-text-color);
  display: inline-block;

  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
  margin: 0;
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* SOCIAL */

.social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-back);
  margin-bottom: 16px;
}

/* FOOTER ICONS */

.footer-icons-list {
  display: flex;

  align-items: center;
  gap: 16px;
}
.footer-icons-item {
  width: 40px;
  height: 40px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--logo-text-color);
  border-radius: 50%;
  color: var(--button-backgroud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  fill: currentColor;
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--color-icon-hover);
}

/* PORTFOLIO*/

.portfolio {
  padding: 169px 0 120px;
}
/* button-port */

.filter-button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  background-color: var(--button-backgroud);
  color: var(--logo-text-color);

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-item {
}
.filter-container {
  padding: 0 15px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn {
}
.btn:hover,
.btn:focus {
  background-color: var(--bg-color-darkblue-hover);
}

/* CARDS */

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  background-color: #4d5ae5;

  transition: transform var(--anim-fast);
}

.card-set-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  background-color: #4d5ae5;

  transition: transform var(--anim-fast);

  /* ///////////////// */
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--button-backgroud);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--color-txt);
  margin: 0 auto;
  margin-bottom: 8px;
}

.card-pro {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  justify-content: center;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-item {
  width: calc((100% - 48px) / 3);
}

.card-link:hover .overlay-text,
.card-link:focus .overlay-text {
  transform: translateY(0);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* styles bloks */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* MODAL WINDOW */

.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--modal-idx);

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .is-hidden {
   opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 250ms;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translateX(-50%) translateY(-50%);

  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  transition-delay: 0ms;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
